backend/venv
backend/__pycache__
receipt/node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
receipt/.pnp
receipt/.pnp.js

# testing
receipt/coverage

# production
receipt/build

# misc
receipt/.DS_Store
receipt/.env.local
receipt/.env.development.local
receipt/.env.test.local
receipt/.env.production.local

receipt/npm-debug.log*
receipt/yarn-debug.log*
receipt/yarn-error.log*
